.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 40px auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

	.borderTop {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 2;
		width: 100%;
		border-top: 50px solid white;
	}

	.todoEmpty {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.todoList {
		z-index: 1;
		flex: 1 1 0;
		width: 100%;
		height: auto;
		min-height: calc(100vh - 240px);
		padding: 70px 0 50px;

		.empty {
			color: #DADADA;
			font-size: 13px;
			text-align: center;
		}
	}

	.border {
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 2;
		width: 100%;
		border-top: 50px solid white;
	}
}
