.wrapper {
	border-radius: 5px 5px 0 0;
	position: fixed;
	top: 40px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 12;
	max-width: 600px;
	height: fit-content;
	margin: 0 auto;
	padding: 20px;
	background-color: white;
	box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

	input {
		width: 80%;
		font-size: 13px;
		line-height: 22px;
		border: none;
		outline: none;

		&::placeholder {
			color: #C4C4C4;
		}
	}

	button {
		position: absolute;
		top: 19px;
		right: 20px;
	}
}
