.button {
	display: inline-block;
	box-sizing: border-box;
	padding: 5px 10px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	background-color: #F0F0F0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all ease 0.2s;

	&:disabled {
		color: #7B7B7B;
		cursor: unset;

		&:hover {
			color: #7B7B7B;
			background-color: #F0F0F0;
		}
	}

	&:hover {
		color: #FFF;
		background-color: #000;
	}
}
