.inputWrapper {
  position: relative;
  width: 100%;

  .input {
    padding: 7px 0;
    outline: none;
    width: 100%;

    font-size: 13px;
    font-family: "Din pro",sans-serif;
    line-height: 22px;
    border: none;
    border-bottom: 1px solid #DADADA;

    &::placeholder {
      color: #DADADA;
    }
  }

  .error {
    border: 1px solid red;
  }

  .errorMessage {
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    left: 0;

    color: red;
  }
}