.wrapper {
	position: fixed;
	right: 0;
	bottom: 40px;
	left: 0;
	z-index: 11;
	display: flex;
	justify-content: right;
	max-width: 600px;
	height: fit-content;
	margin: 0 auto;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	column-gap: 10px;
	background-color: white;
	box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

	.active {
		color: #FFF;
		background-color: #000 !important;
	}
}
